@model CineplexMovieComplex.Models.MovieTicket

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>MovieTicket</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="MovieTicketId" />
        <div class="form-group">
            <label asp-for="CartId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="CartId" class="form-control" asp-items="ViewBag.CartId"></select>
                <span asp-validation-for="CartId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SeatId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="SeatId" class="form-control" asp-items="ViewBag.SeatId"></select>
                <span asp-validation-for="SeatId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
