@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>
<h2>History</h2>
<p>
    All of our cineplex locations can cater for a variety of events that you may desire. <br />
    Our catering team is fully qualified and will provide the service that your events deserve. <br />
    
    We have years of experience catering for numerous events from childrens parties to corporate functions. <br />
</p>

<h2>Enquiries</h2>
<p>
    If you wish to enquire about any aspects of our events, please fill out the form below and we will reply as soon as possible.
    
</p>